* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

p {
    margin: 10px;   
}

.two-columns {
    display: flex;
}

.col {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
    padding: 30px;
    background-color: lawngreen;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
}

.gallery .img {
    display: flex;
    flex: 1 0 33.33%;
    margin: 10px;
    height: 50px;
    background-color: blue;
}

